.skeleton__group {
display: flex;
justify-content: space-around;
align-items: center;
height: 350px;
margin: 20px 0;
}

.skeleton__content {
    flex-grow: 0.6;
    max-width: 400px;
}

.skeleton__img{
    flex-grow: 0.8;
    width: 600px;
    height: 350px;
}
