.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Agregar estilos  */
.swiper__title {
    color: white
}

.swiper__synopsis {
    height: 100px;
    width: 400px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.swipper__btn__group {
    display: flex;
    margin: 10px 0;
}

.swiper__btn__play {
    background-color: var(--orange-color);
    color: var(--text-black);
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    text-align: center;
    height: 2.5rem;
    margin: 5px;
    padding: 0 15px;
}

.swiper__btn__like {
    height: 2.5rem;
    cursor: pointer;
    color: var(--orange-color);
    border: 2px solid var(--orange-color);
    margin: 5px;
    padding: 15px;
    background-color: transparent;
}

.swiper-slide img {
    display: block;
    width: 20%;
    object-fit: cover;
}